* {
    background-color: rgb(48, 12, 49);
    margin: 0;
    padding: 0;
    font-family: cursive
}

header {
    border-bottom: solid rgb(246, 50, 135);
}

header h1 {
    color: rgb(151, 247, 8);
    text-align: center;
}

nav {
    text-align: center;
}


nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: rgb(252, 223, 7);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: rgb(246, 50, 135);
}

.img {
    height: 300px;
}

.img {
    display:block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px;
    border-color: rgb(246, 50, 135);

}

.Intro {
    text-align: center;
}

.Intro {
    color: white;
}




footer {
    text-align: center;
    color: rgb(151, 247, 8);
    border-top: solid rgb(246, 50, 135);
    min-height: 15px;
}

 {

}